<h1>Dashboard</h1>
</br>
</br>



<a href= '/products/new', class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Product</a>
</br>
</br>


<a href= '/products', class="btn btn-primary btn-lg active" role="button" aria-pressed="true">My Products</a>
