
<h1>דשבורד</h1>
</br>
</br>

<a href= '/products/new', class="btn btn-primary btn-lg active" role="button" aria-pressed="true">הוספת מוצר</a>
</br>
</br>


<a href= '/products/', class="btn btn-primary btn-lg active" role="button" aria-pressed="true">המוצרים שלי</a>
</body>
