
<%= link_to 'products', products_path %>

<br>
<br>

<a href= '#', class="btn btn-primary btn-lg active" role="button" aria-pressed="true">All Products(need implamantaion)</a>
</br>

<-- need to find specific id to show all the products we have -->