<p>שלום <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>האימייל שונה ל <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>האימייל שונה ל <%= @resource.email %>.</p>
<% end %>
