<p>שלום <%= @resource.email %>!</p>

<p>אם ביקשת לשנות את האימייל </p>
<p>לחץ על הקישור </p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p> אם לא נא להתעלם ולא להיכנס</p>
